.Principal {
    height: 100vh;
    background-image: url('img/background.jpg');
    background-size: 100% 100%;

    .Head {
        height: 20%;
    }

    .Body {
        height: 60vh;

        p,
        h1 {
            text-align: center;
        }

        margin-top: 60px;

        .Items {
            text-align: center;

            p {
                margin-top: 50px;
                color: white;
            }

            h1 {
                margin-top: 20px;
                color: white;
            }

            div {
                display: flex;
                justify-content: center;
            }
        }
    }

}

.Image {
    border-radius: 50%;
    width: 30px;
}

.About {
    background-image: url('img/background2.webp');
    div {
        display: flex;
        justify-content: center;
    }

    // .Image {

    //     // padding-top: 50px;
    // }

    .Items {
        h2 {

            text-align: center;
            margin: 20px;
            color: rgb(0, 225, 255);
        }

        p {
            color: white;
            line-height: 2;
        }

        flex-direction: column;

        width: 70%;
        margin: 0 auto;

    }
}

.Portfolio {
    background-image: url('img/background2.webp');
    h2 {
        color: rgb(0, 225, 255);
        text-align: center;
    }

    h4 {
        color: white;
        margin-top: 30px;
    }

    .Items{
        display: flex;
        justify-content: left;
        flex-wrap:  wrap;

    }
}
.Cards{
    margin: '20px';
    // background-color: red($color: rgb(233, 20, 20));
}