.Principal {
    h1 {
        font-size: 2.5rem;
    }

    height: 100vh;
    background-image: url('./background.jpg');
    background-size: 100% 100%;

    .Head {
        height: 20%;
    }

    .Body {
        height: 60vh;

        p,
        h1 {
            text-align: center;
        }

        margin-top: 60px;

        .Items {
            text-align: center;

            p {
                margin-top: 50px;
                color: white;
            }

            h1 {
                margin-top: 20px;
                color: white;
            }

            div {
                display: flex;
                justify-content: center;
            }
        }
    }

}

.Image {
    border-radius: 50%;
    width: 30px;
}

.About {
    background-size: 35rem;

    div {
        display: flex;
        justify-content: center;
    }

    .Items {
        h2 {

            text-align: center;
            margin: 20px;
            color: rgb(0, 225, 255);
        }

        p {
            color: white;
            line-height: 2;
        }

        flex-direction: column;

        width: 70%;
        margin: 0 auto;

    }
}

.Portfolio {
    background-size: 50rem;

    h2 {
        color: #00e1ff;
        text-align: center;
    }

    h3 {
        color: white;
        margin-top: 30px;
    }

    .Items {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;

    }
}

.Cards {
    margin: '20px';
}

.Footer {
    div p {
        font-size: 1.2rem;
    }

    .Copyright {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        p{
            font-size: 1.1rem;
        }
    }
}